[submodule "dep/depot_tools"]
	path = dep/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "FlareSkia/Skia/src"]
	path = FlareSkia/Skia/src
	url = https://github.com/umberto-sonnino/skia.git
